Why does the library throw for GET requests with body?

From what I understand, including a body with a GET request is not unheard of - Elasticsearch, for example, specifies GET endpoints with body data (and allows POST since many HTTP clients disallow handling GET requests with bodies).

Wouldn't it be better to allow usage in this way instead of throwing an error?

This is a restriction [defined  it the fetch specification](https://fetch.spec.whatwg.org/#request-class) (see the Request constructor, step 35). The rationale is that a GET request body is semantically invalid, per [RFC 7213, section 4.3.1](https://tools.ietf.org/html/rfc7231#section-4.3.1); i.e. it has no agreed upon purpose.  There are many problems that fall out because of this lack of definition. Maybe the biggest one is caching: because GET requests are cacheable, caching engines have no way to know how to handle GET request bodies, so allowing them would likely break intermediary caches and result in failures.

All that being said, "no agreed upon purpose" doesn't mean unusable, as you describe. Knowing there are use cases for GET request bodies, it may be worth considering an override flag or extension/plugin to allow this behavior for programmers that understand the consequences.

ah thank you. I had not considered caching

Hello @tekwiz, @Richienb, 
> This is a restriction [defined it the fetch specification](https://fetch.spec.whatwg.org/#request-class) (see the Request constructor, step 35).

For me, it seems like you need to do something with headers, but it does not forbid to use `body`.

>The rationale is that a GET request body is semantically invalid, per [RFC 7213, section 4.3.1](https://tools.ietf.org/html/rfc7231#section-4.3.1);

[RFC 7213, section 4.3.1](https://tools.ietf.org/html/rfc7231#section-4.3.1), says: 
>  A payload within a GET request message has no defined semantics;
   sending a payload body on a GET request might cause some existing
   implementations to reject the request.

So, does not prohibit.

>The response to a GET request is cacheable; a cache MAY use it to
   satisfy subsequent GET and HEAD requests unless otherwise indicated
   by the Cache-Control header field

So, caching lies on a developer's shoulders. 

Question: Why do not allow to use `body` in GET? Is it difficult to implement?



@FFFFFF The fetch specification was updated, and the step 35 that I referenced is now step 33:

> 33. If either init["body"] exists and is non-null or inputBody is non-null, and request’s method is `GET` or `HEAD`, then throw a TypeError.


This is actually a huge restriction. GET bodies are sometimes mandatory on some APIs (that doesn't depend on the developer itself, but a third party's). Because of this, I'll have to pick another library for my requests.